/*reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: 200px 200px 200px;
    padding: 70px 70px 70px 24px;
    background-color: salmon;
}

header{
    background-color: rgb(1, 141, 255);
}
main{
    background-color: rgb(255, 230, 0);
}
footer{
    background-color: rgb(255, 0, 191);
}